package components

templ Box() {
<div id="Box"
	class="w-64 h-40 bg-yellow-200 border-4 border-yellow-400 rounded-xl p-6 mx-auto text-center text-xl font-semibold shadow-lg">
	New Content Here
</div>
}
