package pages

import "github.com/mAmineChniti/FlixLib/components"

templ Index() {
	@components.Layout("Home") {
		@components.NavBar() {
			<div class="flex space-x-8">
				@components.Link("/movies", "Movies")
				@components.Link("/series", "Series")
			</div>
		}
	}
}
